{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@internal/colors": "./source/@internal/colors",
          "@internal/elements": "./source/@internal/elements",
          "@internal/logger": "./source/@internal/logger",
          "@internal/pages": "./source/@internal/pages",
          "@internal/route": "./source/@internal/route",
          "@internal/styles": "./source/@internal/styles",
          "@internal/ui": "./source/@internal/ui",
          "@internal/validations": "./source/@internal/validations"
        }
      }
    ],
    "transform-object-rest-spread",
    "pipe-operator-curry",
    "transform-runtime",
    "external-helpers"
  ]
}
