{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "^@internal/(.+)$": "./source/@internal/\\1"
        }
      }
    ],
    "transform-object-rest-spread",
    "pipe-operator-curry",
    "transform-runtime",
    "external-helpers"
  ]
}
